
  
  <div class="container">
    <div class="myform w-50">
      <form action="admin/dashboard" method="post" >
        <h2 class="text-center">ADMIN LOGIN</h2>
        <input type="email" name="email" placeholder="Admin Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">LOGIN</button>
      </form>
    </div>
    <div class="image">
      <img src="/images/admin.jpg">
    </div>
  </div>

