<!-- Header -->

<header class="header">
	<div class="header_inner d-flex flex-row align-items-center justify-content-start">
		<div class="logo"><a href="#">Loyal Paws</a></div>
		<nav class="main_nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li>
					<div class="dropdown">
						<button class="btn btn-light" type="button" id="dropdownMenuButton"
							data-toggle="dropdown" >
							SHOP
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{{#each category_data}}
							<a class="dropdown-item" href="">{{this.category}}</a>
							
							{{/each}}
						</div>
					</div>
				</li>

				<li><a href="/view-orders">View Orders</a></li>
				<li><a href="/">Contact</a></li>

				
				
				
			</ul>
		</nav>
		<div class="header_content ml-auto">
			<div class="search header_search">
				<form action="#">
					<input type="search" class="search_input" required="required">
					<button type="submit" id="search_button" class="search_button"><img
							src="images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<div class="shopping">
				<!-- Cart -->
				<a href="/cart">
					<div class="cart">
						<img src="images/shopping-bag.svg" alt="">
						<div class="cart_num_container">
							<div class="cart_num_inner">
								<div class="cart_num" id="cart-count">{{cartCount}}</div>
							</div>
						</div>
					</div>
				</a>
				<!-- Star -->
				<a href="#">
					<div class="star">
						<img src="images/star.svg" alt="">
						<div class="star_num_container">
							<div class="star_num_inner">
								<div class="star_num">0</div>
							</div>
						</div>
					</div>
				</a>
				<!-- Avatar -->
				<div class="dropdown">
					<button class="dropbtn">
						<div class="avatar">
							<img src="images/avatar.svg" alt="">
							<span style="text-decoration: none;color: black;">{{userName}}</span>
						</div>
					</button>
					<div class="dropdown-content">
						<a class="dropdown-item" href="/user-profile">Profile</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</div>
				
			</div>
		</div>

		<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</header>

<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">PawsIndia</a></div>
		<div class="search">
			<form action="#">
				<input type="search" class="search_input menu_mm" required="required">
				<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="images/magnifying-glass.svg" alt=""></button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="">Home</a></li>
				<li class="menu_mm"><a href="#">Shop</a></li>
				
			</ul>
		</nav>
	</div>